<div class="test_support_file">
<%= form_for test_support_file,
       :url => update_support_assignment_automated_tests_path,
       :remote => true,
       :method => "PUT",
       :html => {:multipart => true} do |f| %>

    <%= hidden_field_tag :support_id, f.object.id, :class => "support_id" %>
    <%= hidden_field_tag :is_new, is_new, :class => "is_new" %>

    <fieldset>

      <div class="ajax_message"></div>

      <% if !f.object.new_record? %>
        <legend> <%= f.object.file_name %> </legend>
        <%= f.label :file_name, t('automated_tests.replace') %>
      <% else %>
        <legend> <%= t('automated_tests.new_test_support_file') %> </legend>
        <%= f.label :file_name, t('automated_tests.upload_required').html_safe %>
      <% end %>

      <%= f.file_field :file_name, :class => 'upload_file', :size=>"30" %>

      <%= t('automated_tests.script_option.description') %>
      <%= f.text_area :description,
                      :cols => 30, :rows => 1,
                      :style => "vertical-align:middle;",
                      :value => f.object.description %> 

      <%= button_tag I18n.t('automated_tests.submit'), :type => "button", :disable_with => I18n.t('working'), :class => 'submit_test_script_support' %>
      <%= button_tag I18n.t('automated_tests.remove_file'), :type => "button", :disable_with => I18n.t('working'), :class => 'remove_test_script_support', :action => remove_support_assignment_automated_tests_path %>
      <%= link_to ("<button>" + t(:download) + "</button>").html_safe, download_support_assignment_automated_tests_path(:test_support_id => f.object.id), :method => "get", :path => download_support_assignment_automated_tests_path, :class => 'download_support_button' %>
    </fieldset>
<% end %>
</div>
