<div class="test_script">
<% display_options = { 
  I18n.t("automated_tests.script_option.display_option.display_after_submission") => "display_after_submission", 
  I18n.t("automated_tests.script_option.display_option.display_after_collection") => "display_after_collection",
  I18n.t("automated_tests.script_option.display_option.do_not_display") => "do_not_display"
} # this is defined and used to validate input in test_script.rb 
%>

<div class="dragarrows">↕</div>
<fieldset class="settings_box">

<%= form_for test_script,
       :url => update_test_assignment_automated_tests_path,
       :remote => true,
       :method => "PUT",
       :html => {:multipart => true} do |f| %>

<% saved = !f.object.new_record? %>
<% hide = saved ? 'style="display:none;"' : '' %>

  <legend>
    <span class='file_name'>
      <% if saved %>
        <%= f.object.script_name %>
      <% else %>
        <%= t('automated_tests.new_test_script_file') %>
      <% end %>
    </span>
    <%= link_to_function (saved ? '[+]' : '[-]'), "toggleSettings(this);", :class => "collapse" %>
  </legend>

  <div class="ajax_message"></div>

  <%= f.hidden_field :seq_num, :value => f.object.seq_num, :class => "seqnum" %>
  <%= hidden_field_tag :test_id, f.object.id, :class => "test_id" %>
  <%= hidden_field_tag :is_new, is_new, :class => "is_new" %> 

  <div class="settings_left_side">
    <div class="desc">
      <%= f.label :description, t('automated_tests.script_option.description'), :style => 'vertical-align:top;' %>
      <%= f.text_area :description, :value => f.object.description, :cols => 30, :rows => (saved ? 1 : 2)  %>
    </div>

    <%# For new test scripts, the settings box will be expanded and the settings box
        will be below the description textarea. For existing test scripts, their max
        marks field will be in the right side %>
    <% maxmarks_section  = '<div class="maxmarks">'
       maxmarks_section += f.label :max_marks, raw(t 'automated_tests.script_option.max_marks')
       maxmarks_section += "\n"
       maxmarks_section += f.text_field :max_marks, :value => f.object.max_marks, :size => 10, :maxlength => 8, :class => "test_script_max_marks"
       maxmarks_section += '</div>' %>
    <% if !saved %>
      <%= raw maxmarks_section %>
    <% end %>

    <div <%= raw hide %>>
      <%= f.label :display_settings, t('automated_tests.script_option.display_settings') %> <br/>
      <ul>
        <li>
          <%= f.label :display_description, t('automated_tests.script_option.display_description') %>
          <%= f.select :display_description, options_for_select(display_options, f.object.display_description) %>
        </li>
        <li>
          <%= f.label :display_run_status, t('automated_tests.script_option.display_run_status') %>
          <%= f.select :display_run_status, options_for_select(display_options, f.object.display_run_status) %>
        </li>
        <li>
          <%= f.label :display_marks_earned, t('automated_tests.script_option.display_marks_earned') %>
          <%= f.select :display_marks_earned, options_for_select(display_options, f.object.display_marks_earned) %>
        </li>
        <li>
          <%= f.label :display_input, t('automated_tests.script_option.display_input') %>
          <%= f.select :display_input, options_for_select(display_options, f.object.display_input) %>
        </li>
        <li>
          <%= f.label :display_expected_output, t('automated_tests.script_option.display_expected_output') %>
          <%= f.select :display_expected_output, options_for_select(display_options, f.object.display_expected_output) %>
        </li>
        <li>
          <%= f.label :display_actual_output, t('automated_tests.script_option.display_actual_output') %>
          <%= f.select :display_actual_output, options_for_select(display_options, f.object.display_actual_output) %>
        </li>
      </ul>
    </div>
  </div>

  <div class="settings_right_side">
    <% if saved %>
      <%= raw maxmarks_section %>
    <% end %>

    <div <%= raw hide %>>
      <%= f.label :script_name, (saved ? t('automated_tests.replace') : t('automated_tests.upload_required').html_safe) %>
      <%= f.file_field :script_name, :size=>"30", :class => 'upload_file' %><br/>

      <% if saved %>
        <span class="label">
          <%= link_to(t(:download),
                      :action => 'download', 
                      :assignment_id => @assignment.id,
                      :type => 'script',
                      :filename => f.object.script_name) %>
        </span>
        <br/>
      <% end %>

      <br/><br/>

      <%= f.label :run_on_request, t("automated_tests.script_option.run_on_request") %>
      <%= f.check_box :run_on_request, :value => f.object.run_on_request %><br/>
    
      <%= f.label :run_on_submission, t("automated_tests.script_option.run_on_submission") %>
      <%= f.check_box :run_on_submission, :value => f.object.run_on_submission %><br/>

      <%= f.label :halts_testing, t("automated_tests.script_option.halts_testing") %>
      <%= f.check_box :halts_testing, :value => f.object.halts_testing %>
    </div>
  </div>
  <div style="clear:both;">
    <%= button_tag I18n.t('automated_tests.submit'), :type => "button", :disable_with => I18n.t('working'), :class => 'alt_submit_test_script' %>
    <%= button_tag I18n.t('automated_tests.remove_file'), :type => "button", :disable_with => I18n.t('working'), :class => 'alt_remove_test_script', :action => remove_test_assignment_automated_tests_path %>
    <%= button_tag I18n.t('automated_tests.add_test_helper_link'), :type => "button", :disable_with => I18n.t('working'), :class => 'add_test_script_helper_button', :action => add_new_test_helper_form_assignment_automated_tests_path %>
  </div>
  

<% end %>

  <fieldset class="test_script_helper_field">
    <div>
      <div class="test_script_helper"></div>
        <% test_script.test_helpers.sort_by(&:file_name).each do |thf| %>
        <%= render :partial => 'test_helper_file_upload', :locals => {:test_script => test_script, :test_helper_file => thf, :is_new => 'false' } %>
      <% end %>
    </div>
  </fieldset>

</fieldset>

</div>
