<% # UI LIBRARIES %>
<%= javascript_include_tag "livepipe/livepipe.js",
  "livepipe/window.js" %>

  <% # HTML for Student Testing Interface %> 
<div class="block">
  <h2><%= I18n.t("automated_tests.request_test_run") %></h2>
  
  <% if flash[:failure] && !flash[:failure].empty? %>
    <div class="notice">
      <%=flash[:failure]%>
    </div>
  <% end %>

  <% if flash[:notice] && !flash[:notice].empty? %>
    <div class="success">
      <%=flash[:notice]%>
    </div>
  <% end %>

  <% if @assignment.enable_test %>
    <% if @grouping.nil? %>
      <div class="sub_block">
        <br />
          <%= I18n.t("automated_tests.need_group_for_test") %>
        <br />
      </div>
    <% else %>
      <div class="block_content">
        <br />
        <div class="sub_block">
          <% test_script_results = TestScriptResult.order("created_at DESC").find_all_by_grouping_id(@grouping.id) %>

          <span class="prop_label"><%= I18n.t("automated_tests.token.tokens_available") %></span>:
          
          <% if @assignment.unlimited_tokens %>
            <%= I18n.t("automated_tests.token.unlimited") %>
          <% elsif @token.nil? %>
            <%= I18n.t("automated_tests.token.tokens_not_given_yet") %>
          <% else %>
            <%= %{$token.tokens} / %{@assignment.tokens_per_day} %>
          <% end %>

          <br/><br/>
          <span class="prop_label">Status</span>: Last test completed at <%= test_script_results[0].created_at.strftime("%F %R") %>
          <br/><br/>
          <span class="prop_label"><%= I18n.t("automated_tests.current_code_revision") %></span>: <%= @grouping.group.repo.get_latest_revision.revision_number%>
          <br/><br/>

          <% if @assignment.unlimited_tokens || (!@token.nil? && @token.tokens > 0) %>
            <% if @grouping.assignment.submission_rule.can_collect_now? %>
              <%= I18n.t("automated_tests.due_date_is_passed") %>
              <br />
            <% else %>
              <br />
              <%= link_to I18n.t("automated_tests.run_tests"),
                                {:controller => 'automated_tests',
                                 :action => 'request_test_run',
                                 :id => @assignment.id,
                                 :grouping_id => @grouping.id,
                                 :revision_number => @revision_number},
                                 :class => "button" %>
              <br />
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  <% else %>
    <div class="block_content">
      <h3><%= I18n.t("automated_tests.information") %></h3>
      <div class="sub_block">
        <%= I18n.t("automated_tests.testing_disabled") %>
      </div>
    </div>
  <% end %>
</div>

<% if @assignment.enable_test && !@grouping.nil? %>
	<% if !@test_script_results.nil? %>
	<div class="block">
	  <h2><%= I18n.t("automated_tests.test_results") %></h2>
	  <br />
	  <!-- <div class="sub_block">
	  	<%= raw ( I18n.t("automated_tests.marks_obtained", 
	   	          	      :marking => "#{@grouping.get_total_test_script_marks * 1.0} / #{@assignment.total_ror_script_marks * 1.0}" ) ) %>
	  </div> -->
	  <div id="test_results" class="sub_block">

		  <% test_script_results.each_with_index do |ts_result, index| %>
		  	<% test_script = TestScript.find(ts_result.test_script_id) %>
        <div class="block">
        <h2><%= I18n.t("automated_tests.test_run_number") %> <%= test_script_results.length - index %></h2>
          <div class="sub_block">
            <br/>
            <span class="prop_label"><%= I18n.t("automated_tests.date_run") %></span>: <%= ts_result.created_at.strftime("%F %R") %>
            <br/>
            <span class="prop_label"><%= I18n.t("automated_tests.marks_earned") %></span>: <%= ts_result.marks_earned %> / <%= test_script.max_marks %>
            <br/>
            <span class="prop_label"><%= I18n.t("automated_tests.code_revision_used") %></span>: <%= ts_result.repo_revision.to_i %>
            <br/><br/>

            <% test_results = TestResult.where(:grouping_id => ts_result.grouping_id, 
                                               :test_script_id => ts_result.test_script_id, 
                                               :test_script_result_id => ts_result.id) %>

            <% test_results.each do |t_result| %>
              <%= I18n.t("automated_tests.test_name") %> <%= t_result.name %>
              <ul>
                  <li><%= I18n.t("automated_tests.description") %> <%= t_result.description %></li>
                  <li><%= I18n.t("automated_tests.marks_earned") %> <%= t_result.marks_earned %></li>
                  <li><%= I18n.t("automated_tests.marks_available") %> <%= t_result.marks_available %></li>
              </ul>
            <% end %>                                   
          </div>
        </div>
		  <% end %>
		</div>
	<% end %>
<% end %>
